flows.txt
[{"id":"688a158d.23485c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"caadff55.5483b","type":"debug","z":"688a158d.23485c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":260,"wires":[]},{"id":"8d490670.242518","type":"function","z":"688a158d.23485c","name":"Slot 1","func":"global.set(\"slot1\",msg.payload.slot1)\nmsg.payload=msg.payload.slot1\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["caadff55.5483b","17ee4c8d.455ba3","5eaf7318.af816c"]]},{"id":"c153af0d.ad981","type":"function","z":"688a158d.23485c","name":"Slot 2","func":"global.set(\"slot2\",msg.payload.slot2)\nmsg.payload=msg.payload.slot2\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["caadff55.5483b","c5464e84.b115c","4734b7ba.745ac8"]]},{"id":"90936fb9.832e5","type":"ibmiot in","z":"688a158d.23485c","authentication":"apiKey","apiKey":"e27403fa.a388f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"Parking","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":340,"wires":[["8d490670.242518","c153af0d.ad981"]]},{"id":"17ee4c8d.455ba3","type":"ui_gauge","z":"688a158d.23485c","name":"Slot 1","group":"4b4f0f39.f0193","order":8,"width":0,"height":0,"gtype":"gage","title":"Slot 1","label":"","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":340,"wires":[]},{"id":"c5464e84.b115c","type":"ui_gauge","z":"688a158d.23485c","name":"Slot 2","group":"b2daba8d.e73b38","order":9,"width":0,"height":0,"gtype":"gage","title":"Slot 2","label":"","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":520,"wires":[]},{"id":"5eaf7318.af816c","type":"switch","z":"688a158d.23485c","name":"checking for slot1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"51","vt":"num"},{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":160,"wires":[["36931e5e.db1922"],["c2c42d67.04b48"]]},{"id":"4734b7ba.745ac8","type":"switch","z":"688a158d.23485c","name":"checking for slot2","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"51","vt":"num"},{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":500,"wires":[["f5f56e03.4e58d"],["2ae9e6c.3cdeb1a"]]},{"id":"36931e5e.db1922","type":"function","z":"688a158d.23485c","name":"SLOT1 Status","func":"msg.payload=\"Slot1 is Full\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["942708c7.64def8"]]},{"id":"c2c42d67.04b48","type":"function","z":"688a158d.23485c","name":"Slot1 Status","func":"msg.payload=\"Slot1 is Empty\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["942708c7.64def8"]]},{"id":"f5f56e03.4e58d","type":"function","z":"688a158d.23485c","name":"Slot 2 Status","func":"msg.payload=\"Slot2 is Full\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["ac83ca74.67aba8"]]},{"id":"2ae9e6c.3cdeb1a","type":"function","z":"688a158d.23485c","name":"Slot2 Status","func":"msg.payload=\"Slot2 is Empty\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["ac83ca74.67aba8"]]},{"id":"942708c7.64def8","type":"ui_text","z":"688a158d.23485c","group":"c9127461.4667e8","order":0,"width":0,"height":0,"name":"Slot 1 Status","label":"Slot 1 Status","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":160,"wires":[]},{"id":"ac83ca74.67aba8","type":"ui_text","z":"688a158d.23485c","group":"101e44d8.9d518b","order":0,"width":0,"height":0,"name":"Slot 2 Status","label":"Slot 2 Status","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":500,"wires":[]},{"id":"d38f81d6.832eb","type":"http in","z":"688a158d.23485c","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":640,"wires":[["82d53ebb.8a782"]]},{"id":"2bab48aa.22ce28","type":"http response","z":"688a158d.23485c","name":"","statusCode":"","headers":{},"x":670,"y":640,"wires":[]},{"id":"82d53ebb.8a782","type":"function","z":"688a158d.23485c","name":"web url","func":"msg.payload={'slot1':global.get(\"slot1\"),'slot2':global.get(\"slot2\")}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["2bab48aa.22ce28"]]},{"id":"2663d1bd.ba050e","type":"http in","z":"688a158d.23485c","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":760,"wires":[["f51f2db1.bf37"]]},{"id":"ba6c1f1.9931ee","type":"http response","z":"688a158d.23485c","name":"","statusCode":"","headers":{},"x":720,"y":760,"wires":[]},{"id":"f51f2db1.bf37","type":"function","z":"688a158d.23485c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["ba6c1f1.9931ee","6a4f9f1.3430a6"]]},{"id":"6a4f9f1.3430a6","type":"debug","z":"688a158d.23485c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":720,"wires":[]},{"id":"e27403fa.a388f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4b4f0f39.f0193","type":"ui_group","z":"","name":"Slot 1","tab":"703c1352.f062ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2daba8d.e73b38","type":"ui_group","z":"","name":"Slot 2","tab":"703c1352.f062ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"c9127461.4667e8","type":"ui_group","z":"","name":"Slot 1 Status","tab":"703c1352.f062ac","order":3,"disp":true,"width":"6","collapse":false},{"id":"101e44d8.9d518b","type":"ui_group","z":"","name":"Slot 2 Status","tab":"703c1352.f062ac","order":4,"disp":true,"width":"6","collapse":false},{"id":"703c1352.f062ac","type":"ui_tab","z":"","name":"Smart Parking System","icon":"dashboard","disabled":false,"hidden":false}]